    <% if @user.errors.any? %>
    <%= pluralize(@user.errors.count, 'error') %>
    prevented your form from success.
    <ul class="">
      <% @user.errors.full_messages.each do |msg| %>
      <li class=""><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
    <div class="image">
      <%= image_tag 'juice_bg-01.jpg',class: 'img-responsive' %>
  </div>
      <div class="col-xs-4">
    <div class="signin">
      <h1 style="font-family: 'Francois One', sans-serif;">Sign Up</h1>
      <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.text_field :name, placeholder: "Name", style: "color:#666666"; %>
      </div>

      <div class="form-group">
        <%= f.text_field :email, placeholder: "Email", style: "color:#666666"; %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", style: "color:#666666"; %>
      </div>

      <div class="form-group">
        <%= f.submit class: "btn btn-warning" %>
      </div>
      <% end %>
    </div>
  </div>
