<div class="image">
  <%= image_tag 'juice_bg-01.jpg',  class: 'img-responsive' %>
</div>
<div class="col-xs-4">
   <div class="signin">
      <h1 style="font-family: 'Francois One', sans-serif;">Sign In</h1>
    <%= form_tag do %>
        <div class="form-group">
          <%= label_tag :email%>
          <%= text_field_tag :email %>
        </div>
        <div class="form-group">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
        <div class="form-group">
        <%= submit_tag "Sign In", class: "btn btn-warning" %>
        <%= link_to 'Sign Up', new_user_path, class: "btn btn-warning" %>
       </div>
      <% end %>
   </div>
</div>
