<div class="health_container">
    <div class="row">
        <h1 style="font-family: 'Francois One', sans-serif; color: #666666; margin-left:40px;">Pick Body Icon</h1>
      <hr>
        <%= form_tag(juices_path, :method => "get", enforce_utf8: false, id: "search-form") do %>
        <div class="issuescontainer">
          <% @health_issues.each do |health_issue| %>
           <div class="issues">
            <%= check_box_tag "juice_id-#{health_issue.id}", false, params[:health_issue_id], html: { placeholder: "Search Juices"}%>
            <%=label_tag {image_tag(attachment_url(health_issue, :photo, :fill, 200, 200, format: ""))}%></br>
            <%= health_issue.name %>
          </div>
          <% end %>
        </div>
        <%= submit_tag "Search", :name => nil, class: "btn btn-warning", style: "margin-left:40px;"%>
        <% end %>
    </div>
  </div>
