<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= form_tag(juices_path, :method => "get", enforce_utf8: false, id: "search-form") do %>
        <div class="issuescontainer">
          <% @health_issues.each do |health_issue| %>
          <div class="issues">
            <%= image_tag attachment_url(health_issue, :photo, :fill, 200, 200, format: "") %></br>
            <%= check_box_tag "juice_id-#{health_issue.id}", false, params[:health_issue_id], html: { placeholder: "Search Juices"} %>
            <%= health_issue.name %>
          </div>
          <% end %>
        </div>
        <%= submit_tag "Search", :name => nil, class: "btn btn-warning"%>
        <% end %>
      </div>
    </div>
  </div>
