<h1>Order
  <%= @order.id %></h1>
<ul>
  <li>
    <strong>Purchase Date</strong>:
    <%= local_time(@order.purchased_at) %>
  </li>

  <li>
    <strong>Order ID</strong>:
    <%= @order.id %>
  </li>

  <li>
    <strong>Purchaser:</strong>:
    <%= @order.user.username %>
    |
    <%= @order.user.email %>
  </li>

  <li>
    <strong>Total Price:
    </strong>

    <%= @order.total_price %>

  </li>
</ul>

<h3>Items</h3>

<% @order.order_items.each do |order_item| %>

<%= order_item.product.name %>

<%= order_item.quantity %>
at
<%= order_item.price %>

<p>
  Total:
  <%= number_to_currency order_item.total_price %>
</p>

<% end %>
