<div class="container">
  <div class="row">
      <h4>Thank you for your purchase
        <%= @order.id%></h4>
      <% @order.order_items.each do |order_item| %>
        <%= image_tag attachment_url(order_item.juice, :photo, :fill, 440, 440, format: "png") %>
      <ul>
        <li>
          <strong>Purchase Date</strong>:
          <%= local_time(@order.purchased_at) %>
        </li>
        <ul>
          <li>Order ID:
            <%= @order.description %></li>

          <li>Title:
            <%= order_item.juice.name %></li>
          <li>Quantity:
            <%= order_item.quantity %></li>
          <li>Total Price:
            <%= number_to_currency order_item.total_price %></li>
          <% end %>
        </ul>
        <%= link_to 'View More', juices_path, class: "waves-effect waves-light btn" %>
      </div>
    </div>
