<div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2><%= @juice.name%></h2></br>
        <%= image_tag attachment_url(@juice, :photo, :fill, 440, 440, format: "png") %>
        </div>
        <div class="col-xs-6">
          <ul>
          <li><%= @juice.description %></li>
          <li><h4>$<%= @juice.price %><h4></li>
          </ul>
          <div id="mapid"></div>
           <script type="text/javascript">
           $(window).ready(function(){
             var mymap = L.map('mapid').setView([29.73, -95.39], 10);
             L.Icon.Default.imagePath = "/assets";
             L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
               attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
               maxZoom: 18,
               id: 'rooshy.pm83lnj3',
               accessToken: 'pk.eyJ1IjoiandvLWNpbmsiLCJhIjoiQVBfcW9OOCJ9.k2Q4vbfJs16Idk2cOziQYQ'
           }).addTo(mymap);
             <% @juice.juicebars.each do |juicebar| %>
               L.marker([<%= juicebar.latitude %>, <%= juicebar.longitude %>]).addTo(mymap)
                 .bindPopup('<b><%= juicebar.location %></b><br/><%= link_to 'View Juicebar', juicebars_path(id: juicebar.id ), class: "btn btn-default btn-block" %>');
             <% end %>
           })
           </script>
      </div>
    </div>
  </div>
