<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Juice", root_path, class: "navbar-brand", style:"color:#f39c12" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to health_issues_path, class: "button" do%><i class="glyphicon glyphicon-heart"></i><% end %></li>

          <li><%= link_to juices_path, class: "button" do%><i class="glyphicon glyphicon-apple"></i><% end %></li>
          <li><%= link_to cart_path, class: "button" do%><i class="glyphicon glyphicon-shopping-cart"></i><% end %></li>
        <% if @current_user %>
           <li><%= link_to sign_out_path, class: "button" do %><span class="glyphicon glyphicon-off" aria-hidden="true"></span><% end %></li>
           <% else %>
           <li><%= link_to sign_in_path, class: "button" do  %><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span><% end %></li>
           <% end %>
      </ul>
    </div>
  </nav> -->

      <!doctype html>
      <html lang="en">
        <head>
          <meta charset="utf-8">
          <title>Slideout Demo</title>
          <meta http-equiv="cleartype" content="on">
          <meta name="MobileOptimized" content="320">
          <meta name="HandheldFriendly" content="True">
          <meta name="apple-mobile-web-app-capable" content="yes">
          <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
          <style>
            body {
              width: 100%;
              height: 100%;
            }

            .slideout-menu {
              position: fixed;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              z-index: 0;
              width: 256px;
              overflow-y: auto;
              -webkit-overflow-scrolling: touch;
              display: none;
            }

            .slideout-panel {
              position:relative;
              z-index: 1;
              will-change: transform;
            }

            .slideout-open,
            .slideout-open body,
            .slideout-open .slideout-panel {
              overflow: hidden;
            }

            .slideout-open .slideout-menu {
              display: block;
            }

            #menu{
              background-color: #000000;
            }

          </style>
        </head>
        <body>

          <nav id="menu">
            <h2>Menu</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><%= link_to health_issues_path, class: "button" do%><i class="glyphicon glyphicon-heart"></i><% end %></li>

                <li><%= link_to juices_path, class: "button" do%><i class="glyphicon glyphicon-apple"></i><% end %></li>
                <li><%= link_to cart_path, class: "button" do%><i class="glyphicon glyphicon-shopping-cart"></i><% end %></li>
              <% if @current_user %>
                 <li><%= link_to sign_out_path, class: "button" do %><span class="glyphicon glyphicon-off" aria-hidden="true"></span><% end %></li>
                 <% else %>
                 <li><%= link_to sign_in_path, class: "button" do  %><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span><% end %></li>
                 <% end %>
          </ul>
          </nav>

          <main id="panel">
            <header>
              <button class="toggle-button">☰</button>
            </header>
          </main>

          <script src="dist/slideout.min.js"></script>
          <script>
            var slideout = new Slideout({
              'panel': document.getElementById('panel'),
              'menu': document.getElementById('menu'),
              'padding': 256,
              'tolerance': 70
            });

            // Toggle button
            document.querySelector('.toggle-button').addEventListener('click', function() {
              slideout.toggle();
            });
          </script>

        </body>
      </html>
