<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
     <div class="container-fluid">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <ul>
         <li><%= link_to "Juice Me", root_path, class: "navbar-brand"%></li>
       </ul>
       </div>
       <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav">
           <li><%= link_to "Body", root_path, class: "button"%><span><i class="glyphicon glyphicon-heart"></i></span></li>
           <li><%= link_to "Juice", juices_path, class: "button"%><i class="glyphicon glyphicon-apple"></i></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <% if @current_user %>
              <li><%= link_to "Sign Out", sign_out_path, class: "button"%><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li>
              <% else %>
              <li><%= link_to "Sign In", sign_in_path, class: "button" %><span class="glyphicon glyphicon-log-in"></span></li>
              <% end %>
         </ul>
       </div>
     </div>
   </nav>


</body>
</html>
