<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Juice", root_path, class: "navbar-brand", style:"color:#f39c12" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to health_issues_path, class: "button" do%><i class="glyphicon glyphicon-heart"></i><% end %></li>

          <li><%= link_to juices_path, class: "button" do%><i class="glyphicon glyphicon-apple"></i><% end %></li>
          <li><%= link_to cart_path, class: "button" do%><i class="glyphicon glyphicon-shopping-cart"></i><% end %></li>
        <% if @current_user %>
           <li><%= link_to sign_out_path, class: "button" do %><span class="glyphicon glyphicon-off" aria-hidden="true"></span><% end %></li>
           <% else %>
           <li><%= link_to sign_in_path, class: "button" do  %><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span><% end %></li>
           <% end %>

      </ul>

    </div>
  </nav>
