<!DOCTYPE html>
<html>
<head>
  <title>JuiceMeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <%= link_to "Juice", root_path, class: "navbar-brand", style:"color:#f39c12" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Juice Recipes", juices_path, style:"color:#f39c12"%></li>
      </ul>
    </div>
</nav>
<body>

<%= yield %>

</body>
</html>
